<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">

    <title>Title</title>

</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div>
                    <a href="/index.html">Azrael's Journey</a>
                </div>
                <div class="rnb">
                    <button role="button" class="dropboxBtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="dropbox-item">
                        <a href="./about.html">About</a>
                        <a href="./works.html">Portfolio</a>
                        <a href="./insight.html">Insight</a>
                    </div>
                    <a href="">한글</a>
                    <a href="">ENG</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1 class="title">202308 말레이시아 여행</h1>
        <span class="spliter"></span>
            <div class="blogpost">
                	<p>
                    </p>
                <img src="/img/tempimage02.png" style="width: 300px;">
            </div>
           
        <div class="pagination">
            <a href="#" class="prev"></a>
            <div class="page">
                <a href="/lsn.html" class="active">Back to List</a>
            </div>
            <a href="#" class="next"></a>
        </div>
    </div>

    <footer>
        <p>         
        (+82) 10-5374-3061 | azrael3design@gmail.com <br/>
        All right reserved.<br/>
        <br/>
        Special thanks to <br/>
        ExtoNov | Sorol <br/>
        </p>
    </footer>
    <script src="./js/common.js"></script>
</body>
</html>