@charset "utf-8";
/* CSS Document */

nav ul {
	text-align: center;
	list-style: none;
	background-color: #79E063;
	margin-bottom: 15px;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 13px;
	display: block;
	width: 100px;
	text-decoration: none;
	background-color: #79E063;
	color: white;

}

nav a:hover {
	background-color: #35612B;
}









