@charset "utf-8";
/* CSS Document */

@media (min-width: 755px) {

body {
	background-color: #5FAA5C;
}

section {
	background-color: antiquewhite;
	margin-bottom: 20px;
	padding: 5px;
}

div {
	min-width: 700px;
	margin: 0px 10px;
}

h1 {
	font-family: 'Cormorant', serif;
	font-size: 40px;
	text-align: center;
	margin-left: 40px;
}


h2 {
	font-family: 'Cormorant', serif;
	font-size: 1.8em;
	padding-left: 15px;
	text-align: center;
}

p {
	font-family: 'Arimo', sans-serif;
}

.em {
	font-size: 1.1em;
	padding: 1em;
}

.rem {
	font-size: 1.2rem;
	padding: 1rem;
}

.percentage {
	font-size: 115%;
	padding: 2%
}

.main { 
	padding: 15px;
}

.content {
	box-sizing: content-box;
	width: auto;
	border: solid 3px hsla(205,87%,64%,1.00);
	padding: 15px;
}

.border {
	box-sizing: border-box;
	width: auto;
	border: dashed 3px hsla(359,81%,58%,1.00);
	padding: 15px;
	
}

.vw {
	font-size: 2.1vw;
}

img {
	width: 95.5vw;
	display: block;
	margin: auto;
	max-width: 1200px;
}
	
}


@media (max-width: 755px) {
	
body {
	background-color: #E0A94E;
}

div {
	margin: 0px 7px;		
}	
	
section {
	background-color: antiquewhite;
	margin-bottom: 20px;
	padding: 5px;
}
	
h1 {
	font-family: 'Cormorant', serif;
	font-size: 35px;
	text-align: center;
}


h2 {
	font-family: 'Cormorant', serif;
	font-size: 4.5vw;
	text-align: center;
}

p {
	font-family: 'Arimo', sans-serif;
}
	
img {
	width: 90vw;
	display: block;
	margin: auto;
	max-width: 755px;
}	
	
.em {
	font-size: 1em;
	padding: 1em;
}

.rem {
	font-size: 1rem;
	padding: 1rem;
}

.percentage {
	font-size: 105%;
	padding: 0% 2.5%
}

.main { 
	padding: 15px;
}

.content {
	box-sizing: content-box;
	width: auto;
	border: solid 4px hsla(205,87%,64%,1.00);
	padding: 10px 20px;
}

.border {
	box-sizing: border-box;
	width: auto;
	border: dashed 4px hsla(359,81%,58%,1.00);
	padding: 10px 20px;
	
}

.vw {
	font-size: 1em;
}	
	
	
	
	
	
	
	
	
	
}