@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
    --white: #F2F0F0;
    --text-color: #211C40;
    --imgbackcolor: rgba(56, 72, 117, 1);
}

html, body {
    font-family: "Pretendard Variable";
    background-color: var(--white);
    color: var(--text-color);
}

header > nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--white);
}

.container {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}

header > nav > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0;
    padding: 5px;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--white);

    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 32px;
    height: 32px;

    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

header .dropboxBtn span {
    display: block;
    height: 1px;
    background-color: var(--text-color);
    transition: 0.3s all;
}

header .dropboxBtn span:nth-child(1) {
    width: 50%;
    transform-origin: left;
}
header .dropboxBtn span:nth-child(2) {
    width: 75%;
}
header .dropboxBtn span:nth-child(3) {
    width: 100%;
    transform-origin: right;
}

.dropbox-item {
    display: none;
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    row-gap: 0.75em;
    align-items: flex-end;
    left: -32px;
    top: 96px;
}

.dropbox-item > a {
    transition: 0.3s all;
    height: 0;
    margin-top: -1em;
    opacity: 0;
}

.rnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    column-gap: 1em;
    position: relative;
}

.mainland {
    display: flex;
    justify-content: space-between;
    
    height: 800px;
    margin: 0 auto;
}

.pfp {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 109.9375rem;
    margin: 0 auto;
    gap: 1.875rem;
}

.pfp img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
    width: 100%;
    height: 700px;
    gap: 1.875rem;

    max-height: 700px;
    max-width: 525px;
}

div h1 {
    width: 34.9375rem;
    flex-shrink: 0;
    color:var(--text-color);
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.spliter {
    width: 82.5rem;
    height: 0rem;
    flex-shrink: 0;

    stroke-width: 1px;
    stroke: var(--text-color)
}