@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
    --white: #F2F0F0;
    --text-color: #211C40;
    --text-color2: #92A0A6;
    --imgbackcolor: rgba(56, 72, 117, 1);
    --footercolor: #111625;
}

html, body {
    font-family: "Pretendard Variable";
    background-color: var(--white);
    color: var(--text-color);
}

header > nav {
    height: 100px;
}

.container {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
}

header > nav > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0;
    padding: 5px;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--white);

    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 32px;
    height: 32px;

    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

header .dropboxBtn span {
    display: block;
    height: 1px;
    background-color: var(--text-color);
    transition: 0.3s all;
}

header .dropboxBtn span:nth-child(1) {
    width: 50%;
    transform-origin: left;
}
header .dropboxBtn span:nth-child(2) {
    width: 75%;
}
header .dropboxBtn span:nth-child(3) {
    width: 100%;
    transform-origin: right;
}

.dropbox-item {
    display: none;
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    row-gap: 0.75em;
    align-items: flex-end;
    left: -32px;
    top: 96px;
}

.dropbox-item > a {
    transition: 0.3s all;
    height: 0;
    margin-top: -1em;
    opacity: 0;
}

.rnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    column-gap: 1em;
    position: relative;
}

.mainland {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



.mainland .pfp {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 30px;
}

.mainland > .pfp > img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1200px;
    height: 700px; 
    gap: 30px;
    object-fit: scale-down;
    background-color: #3848751A;
}

.pfheader{
    max-width: 560px;
    flex-shrink: 0;
    color:var(--text-color);
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;     
}

.abmainland {
    display: grid;
    grid-template-columns: 20% 80%;  
    column-gap: 20px;
    align-items: end;  
}

.abmainland > .pfp > img {
    width: 100%;
}

.abmainland > .pfptext > h1 {
    font-size: 96px;
    font-weight: 600;
}

.abmainland > .pfptext > h2 {
    font-size: 112px;
    font-weight: 300;
    
}

.spliter {
    display: flex;
    height: 2px;
    max-width: 1320px;
    background-color: var(--text-color);
    align-items: center;
    margin: 3rem auto;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem auto;
    max-width: 1320px;
    color: var(--text-color);
    font-size: 28px;
    font-weight: 800;
    line-height: 175%;    
}

.wrapper {
    width: 1320px;
    margin: 0 auto;
}

.wrapper > .grid-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;
    padding: 0;
    /* grid-auto-rows: minmax(440px, auto); */
    list-style: none;
}

.wrapper > .grid-contents img {
    width: 100%;
    object-fit: contain;
    height: 420px;
}

.wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.titletext {
    display: grid;
    grid-template-columns: calc(100% - 4.5em) auto;
    justify-content: space-between;
    height: 30px;
    font-size: 32px;
    font-weight: 500;
    margin-top: 10px;
    gap: .5em
}

.titletext > span {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    min-height: 34px;
}

.titletext span:nth-child(1) {
    color: var(--text-color);
}

.titletext span:nth-child(2) {
    color: var(--text-color2);
}

.arc00005 {
    grid-column: 1 / 2;
    grid-row: 1;
}

.arc00004 {
    grid-column: 2 / 4;
    grid-row: 1;
}

.arc00003 {
    grid-column: 1 / 2;
    grid-row: 2;
}
.arc00002 {
    grid-column: 2 / 4;
    grid-row: 2;
}
.arc00001 {
    grid-column: 1 / 4;
    grid-row: 3;
}

.abouttext {
    margin-top: 40px;
    padding-left: calc(20% + 20px);
    display:grid;
    row-gap: 40px;
}

.abouttext h3.category{
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
}

.abouttext h4.jobtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 2;
}

.abouttext h5.joblocal {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.abouttext ul{
    line-height: 1.5;
    padding: 0;
    margin-left: 3em;
    list-style: disc;
}

footer {
    height: 180px;
    background-color: var(--footercolor);
    margin-top: 40px;
    color: var(--white);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    line-height: 2;
    padding-bottom: 15px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 14px;
}


h1.title {
    font-size: 64px;
    font-weight: 500;
    padding: 50px 0;
    text-align: center;
}
.content {
    padding-top: 60px;
    border-top: 1px solid #000;
    display: grid;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 70px;
    grid-template-columns: repeat(3, 400px);
}
.content .item img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    aspect-ratio: 1;
}
.content .item .text {
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
    text-align: center;
    line-height: 1.5;
}
.pagination {
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination > .page {
    font-size: 16px;
    display: flex;
    column-gap: 10px;
}
.pagination > .page > a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
}
.pagination > .page > a.active {
    font-weight: 500;
}
.pagination > .page > a:not(.active) {
    color: #9994B7;
}
a.prev,
a.next {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/chevron.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a.prev {
    transform: rotate(180deg);
    margin-right: 20px;
}
a.next {
    margin-left: 20px;
}

.blogpost {
    display: grid;
    grid-template-columns: calc(100% - 24%) auto;
    justify-content: center;
    font-weight: 500;
    margin-top: 10px;
    gap: 1.2em;
    font-size: 1.1rem;
    align-items: center;
    line-height: 1.4rem;
}